{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atip | Note cards</title>
    <link rel="stylesheet" href="{% static 'css/styling.css' %}" />
  </head>

  <body>
    
    <div class="card">
      <!-- TODO loop from note model -->
          {% for i in notes_list %}
          <div class="isi-card">
            <p id="to">To : {{i.to}}</p>
            <p id="from">From : {{i.From}}</p>
            <p id="title">Title : {{i.title}}</p>
            <p id="message">{{i.message}}</p>
          </div>
          {% endfor %}
      </div>
    
      <!-- EXAMPLE SECTION -->
      <!-- END SECTION -->
      <div class="sidebar">
          <header>Note App</header>
          <ul>
          <li id="home" style="list-style: none;"><img height="20px" width="20px" src="../static/css/home_white.png"><a  href="/lab-4">Home</a></li>
          <li id="pen" style="list-style: none;"><img height="20px" width="20px" src="../static/css/pen_white.png"><a href="add-note">Add Notes</a></li>
          <li id="note" style="list-style: none;"><img height="20px" width="20px" src="../static/css/note_home.png"><a href="note-list">Note List</a></li>
          </ul>
      </div>
     -->
  </body>
</html>
