{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Atip | Notes Table</title>
    <meta charset="UTF-8" />
    <!-- meta name viewport dibawah ini berfungsi agar dapat menyesuaikan tampilan ketika menggunakan smartphone-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styling.css' %}" />
  </head>

  <body>
    <table class="tabel-content" border="2" ;>
      <thead>
        <tr>
          <th>To</th>
          <th>From</th>
          <th>Title</th>
          <th>Message</th>
        </tr>
      </thead>
      <!-- TODO loop from Note model -->
      <tbody>
        {% for i in notes %}
          <tr>
            <td>{{i.to}}</td>
            <td>{{i.From}}</td>
            <td>{{i.title}}</td>
            <td>{{i.message}}</td>
          </tr>
        {% endfor %}
        <!-- EXAMPLE SECTION -->
        <!-- END SECTION -->
      </tbody>
    </table>
    
  <div class="sidebar">
      <header>Note App</header>
      <ul>
      <li id="home" style="list-style: none;"><img height="20px" width="20px" src="../static/css/home_white.png"><a  href="/lab-4">Home</a></li>
      <li id="pen" style="list-style: none;"><img height="20px" width="20px" src="../static/css/pen_white.png"><a href="add-note">Add Notes</a></li>
      <li id="note" style="list-style: none;"><img height="20px" width="20px" src="../static/css/note_home.png"><a href="note-list">Note List</a></li>
      </ul>
  </div>
  </body>
</html>
