{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Atip | Add Notes</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styling.css' %}" />
    </head>
    <body>
        <div class="card-form">
            <div class="card-title">
                <h2>Add Notes</h2>
            </div>
                <div class="card-content">
                    <form action="" method="POST">
                        <table>
                            {% csrf_token %}
                            {{ form }}
                        </table>
                        <input style="color: white;" type="submit" value="Submit" class="submit-btn">
                    </form>
                </div>
        </div>

        <div class="sidebar">
            <header>Note App</header>
            <ul>
            <li id="home" style="list-style: none;"><img height="20px" width="20px" src="../static/css/home_white.png"><a  href="/lab-4">Home</a></li>
            <li id="pen" style="list-style: none;"><img height="20px" width="20px" src="../static/css/pen_white.png"><a href="add-note">Add Notes</a></li>
            <li id="note" style="list-style: none;"><img height="20px" width="20px" src="../static/css/note_home.png"><a href="note-list">Note List</a></li>
            </ul>
        </div>
    
    </body>
</html>