<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Friend</title>
    </head>
    <body>
        <h2>Add Friend</h2>
        <table>
        <form action="" method="POST">
            <table>
            {% csrf_token %}
            {{ form }}
            </table>
            <input type="submit" value="Submit">
        </table>
        </form>
    </body>
</html>