body {
  background: -webkit-repeating-linear-gradient(top, #eebd89, #d13abd);
  font-family: sans-serif;
  min-height: 100vh;
}

.card-form {
  width: 470px;
  height: 398px;
  margin-right: 220px;
  margin-left: 400px;
  margin-top: 90px;
  margin-bottom: -480px;
  background: whitesmoke;
  border-radius: 10px;
  position: relative;
}
.card-title {
  width: 470px;
  height: 36px;
  text-align: center;
  position: absolute;
}

.card-content {
  width: 470px;
  margin-top: 60px;
  margin-right: -38px;
  margin-left: 38px;

  background-color: transparent;
  position: absolute;
}
.input {
  width: 240px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: scroll;
}
.submit-btn {
  width: 250px;
  height: 32px;
  margin-top: 12px;
  margin-left: 76px;
  background-color: #3b5998;
  border-radius: 10px;
  box-shadow: inset;
  overflow: hidden;
  position: absolute;
}

.sidebar {
  width: 250px;
  height: 100%;
  left: 0%;
  top: 0%;
  margin-left: 0%;
  background: #2c2c54;
  position: fixed;
}
.sidebar header {
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #2c2c54;
  user-select: none;
}

.sidebar ul a {
  display: block;
  height: 100%;
  line-height: 55px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  margin-left: -40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  font-family: serif;
  text-decoration: none;
}
ul li:hover a {
  padding-left: 50px;
}
.sidebar li a i {
  margin-right: 16px;
}

.sidebar li img {
  position: absolute;
  margin-top: 18px;
  margin-left: -26px;
  user-select: auto;
}
.tabel-content {
  border-collapse: collapse;
  margin-top: 36px;
  margin-left: 300px;
  font-size: 0.5cm;
  min-width: 400px;
  border: 2px solid black;
}
.tabel-content thead tr {
  background-color: #eebd89;
  color: black;
  text-align: left;
  font-weight: bold;
}
.tabel-content th,
.tabel-content td {
  padding: 12px 15px;
  word-break: break-all;
}

.tabel-content tbody tr {
  border-bottom: 1px solid rgb(53, 46, 46);
}

.tabel-content tbody tr:nth-of-type(even) {
  background-color: rgb(226, 226, 226);
}
.tabel-content tbody tr:nth-of-type(odd) {
  background-color: #9e7a53;
}

.card {
  display: block;
}
.isi-card {
  margin-right: 220px;
  margin-left: 310px;
  margin-top: 12px;
  background: whitesmoke;
  border-radius: 10px;
  position: relative;
  padding: 2px 16px;
  justify-content: center;
}
#to {
  word-break: break-all;
  font-weight: 700;
}
#from {
  word-break: break-all;
  font-weight: 700;
}
#title {
  word-break: break-all;
  margin-bottom: 48px;
}
#message {
  position: relative;
  word-break: break-all;
}
